@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
}

.cabecalho{
    width: 100%;
    height: 71px;
    background-color: #3570b3;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    align-items: center; 
}

.logo a{
    color: #ffffff;
    text-decoration: none;
    justify-content: flex-start;
}

.menu a{
    color: #ffffff;
    text-decoration: none;
   margin-left: 18px;
}

.conteudo{
   padding-left: 120px;
   padding-right: 120px;
   display: flex;
}

.foto{
    margin-top: 100px;
    background-image: url("./img/marvel.png.png");
    width: 50%;
    height: 460px;
    background-size: cover;
    background-position: center;
    margin-right: 90px;
}

.texto{
    margin-top: 100px;
}

.texto h1{
    font-size: 64px;
    font-weight: normal;
 }

 .texto p{

    font-size: 32px;
 }
